@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&family=Ubuntu&family=Varela+Round&display=swap');

* > * {
    font-family:'Poppins',sans-serif;
}

body{
    background:  #dcdce6;
    background-image: url('./assets/Background.png') ;
}